#!rbenv exec ruby
#!/usr/bin/env ruby
# NOTE: If you don't use rbenv, delete line 1

# COMPILING #######################

compile '/assets/css/*/' do
  filter :sass, syntax: :scss
end

compile '*' do
  unless item.binary?
    filter :erb

    f = case item[:extension]
      when 'markdown', 'mkd', 'md' then :rdiscount
      when 'coffee', 'js' then :coffee
      when 'haml' then :haml
    end

    filter :erb
    filter f unless f.nil?
    filter :typogruby
    layout 'scaffold'
  end
end

# ROUTING #########################

route '/assets/css/*/' do
  '/css/style.css'
end

route '*' do
  if item.binary?
    item.identifier.chop + '.' + item[:extension]
  else
    item.identifier + 'index.html'
  end
end

layout '*', :erb

# item.id /quotes/po/ -> /quotes/poe/index.html
