#!rbenv exec ruby
#!/usr/bin/env ruby
# NOTE: If you don't use rbenv, delete line 1

# TODO passthrough instead?
compile '/assets/img/*/' do
end

route '/assets/img/*/' do
  "/img/#{item.identifier.split('/').last}.#{item[:extension]}"
end


compile '/assets/css/*/' do
  filter :sass, syntax: :scss
end

route '/assets/css/*/' do
  '/css/style.css'
end


compile '*' do
  unless item.binary?
    filter :erb

    sift = case item[:extension]
      when 'markdown', 'mkd', 'md' then :kramdown
      when 'coffee', 'js' then :coffee
      when 'haml' then :haml
    end

    filter sift unless sift.nil?
    layout 'scaffold'
    filter :typogruby
  end
end

route '*' do
  if item.binary?
    item.identifier.chop + '.' + item[:extension]
  else
    item.identifier + 'index.html'
  end
end


layout '*', :erb
