---
title: "Home content/default.html"
desc: "some description here"
published: True
type: "Quote"
---

<h1>loading <%= @item[:filename] %></h1>

<p>Items consist of content and metadata.</p>

<pre>
Hierarchy of files in content/ reflect identifier names

Identifier / the "root" or "home" page
Identifier /things/20/post.html (things/ dir in content/)
Identifier / The "root" or "home" page

/poe: <%= Nanoc::Item.path('/quotes/poe' %>
/poe/: <%= Nanoc::Item.path('/quotes/poe/' %>
/rumi.html: <%= Nanoc::Item.path('/quotes/rumi.html' %>

</pre>

<hr>
<%= Time.now %>
