// Sass' SCSS syntax

$ash: #666;
$black: #111;
$teal: #3bbfce;
$magenta: #d29;
$lightgray: #e1e1e1;

* {
  margin: 0;
  padding: 0;
  font-family: 'Georgia', 'Palatino', 'Times', 'Times New Roman', 'sans-serif';
}

body {
  background: $lightgray;
}

a { 
  text-decoration: none; 
  &:link, &:visited { 
    color: $ash; 
    &:hover {
      color: darken($ash, 5%);
      text-decoration: underline;
    }
  }
}

#main {
  color: #efefef;
  background: $black;
  position: absolute;
  top: 95px;
  left: 260px;
  width: 680px;
  padding: 15px;
  border: 3px solid $magenta;
  border-radius: 15px;
  box-shadow: 5px 5px 14px 3px #888; 
  h1 {
    font-size: 40px;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: -1px;
  }
  p {
    margin: 20px 0;
    font-size: 15px;
    line-height: 20px;
  }
  ul, ol {
    margin: 20px;
  }
  li {
    font-size: 15px;
    line-height: 20px;
  }
  ul li {
    list-style-type: square;
  }
}

#sidebar {
  position: absolute;
  top: 90px;
  left: 20px;
  width: 200px;
  padding: 5px 20px 0 0;
  border-right: 1px solid #ccc;
  text-align: right;

  img {
    border: 1px solid #666;
    border-radius: 15px;
  }
  p {
    $sz: 14px;
    padding: 2px;
    font-size: $sz;
    line-height: $sz + 5;
    margin-bottom: 1em;
  }

  h2 {
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
    letter-spacing: 1px;
    line-height: 15px;
    padding: 5px;
  }
  ul {
    list-style-type: none;
    margin: 5px 0 10px 0;
  }
  li {
    font-size: 14px;
    line-height: 20px;
    &:after {
      content: " \2190";
    }
  }
}

#header {
  width: 100%;
  display: block;
  margin: 10px;
  padding: 5px;
  clear: both;
  h1 {
    font-size: 2.5em;
    display: block;
    font-weight: bold;
    span {
      color: $magenta;
    }
  }
}

#footer {
  position: absolute;
  right: 50px;
  bottom: 5px;
  width: 50%;
  margin: 30px 10px 30px 10px;
  p {
    color: #bbb;
    display: block;
    padding: 10px;
  }
}
